
%-drop-active {
    border: 5px solid #ebf20120;
    background: #f1f2bb20;
    font-weight: normal;
    color: #2b2b2b;
}

%-drop-hover {
    border: 5px solid #00dc7020;
    background: #94ecc120;
    font-weight: normal;
    color: #2b2b2b;
}

