.o_kanban_view.o_kanban_ungrouped .o_kanban_record{
    width:306px;
}

.oe-job-post{
    .ribbon-top-right{
        margin-top: -8px;
    }

    .o_ribbon {
        background-color: #7C7BAD;
        padding: 5px;
        font-size: small;
        z-index: unset;

      }

    .ribbon{
        > span{
            background-color: #7C7BAD;
            padding: 5px;
            font-size: small;
            z-index: unset;
        }
    }
}