$red-common: #D1132A;
$green-common: #2CAC87;
$green-light-common: #C1C625;
$green-alt-common: #9EC232;
$gold-common: #EBA75C;
$charcoal-common: #3A3F42;
$charcoal-alt: #43484D;
$orange-common: #E4590F;
$yellow-common: #FFCD0F;
$yellow-light-common: #EACB16;

.container {
   max-width: 60em;
   margin: 0 auto;
}
.progress-segment {
  display: flex;
  margin-bottom: 1em;
}

.item {
  width: 100%;
  background-color: lightgray;
  margin-right: 2px;
  height: 8px;

  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &.red-common {
    background: $red-common !important;
  }

  &.gold-common {
    background: $gold-common !important;
  }

  &.orange-common {
    background: $orange-common !important;
  }

  &.yellow-common {
    background: $yellow-common !important;
  }

  &.yellow-light-common {
    background: $yellow-light-common !important;
  }

  &.green-light-common {
    background: $green-light-common !important;
  }

  &.green-common {
    background: $green-alt-common !important;
  }
}