.acrux_Message {
    background-color: $o-white;
    padding: 5px 9px;
    box-sizing: border-box;
    border-radius: 7.5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
    max-width: 70%;
    width: fit-content;
    font-size: 13px;
    margin: 3px 10px;
    line-height: 19px;
    color: $o-gray-800;
    display: block;
    clear: both;
    position: relative;

    .o_chat_space {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
    }

    .o_chat_msg_hour {
        float: right;
        margin: -15px 0 -5px 4px;
        position: relative;
        font-size: 11px;
        height: 15px;
        line-height: 15px;
        white-space: nowrap;
        color: $o-gray-500;
        vertical-align: top;
    }

    .o_message_title {
        font-weight: bold;
        margin-bottom: 0.5em;
        border-bottom: 1.9px solid black;
        color: #959595;
        border-bottom-color: #959595;
        font-size: 80%;
    }

    .o_chat_msg_content {
        overflow: hidden;
        display: block;
        width: 100%;
        max-height: 100%;

        .o_chat_message_content {
            display: flex;
            max-width: 100%;
            flex-flow: column;
        }

        span {
            white-space: break-spaces;
            word-wrap:break-word;
        }

        .o_acrux_location_img {
            height: 150px;
            width: 250px;

            > a > img {
                height: 100%;
                width: 100%;
            }
        }
        
        .product_img {
            max-height: 100px;
        }

        .o_AttachmentCard,
        .o_AttachmentCard .o_AttachmentCard_asideItem {
            background-color: rgba(120, 120, 120, 0.15) !important;
        }
        
        .o_acrux_chat_message_buttons button {
            background-color: #4CAF50; /* Green background */
            border: none; /* Remove border */
            color: white; /* White text */
            text-align: center; /* Center text */
            text-decoration: none; /* Remove underline */
            display: inline-block; /* Make it inline */
            border-radius: 5px; /* Add some border radius */
            outline: none;
            margin-right: 5px;
            margin-top: 5px;
        }
        
        .o_acrux_chat_message_buttons button:hover {
            background-color: #3e8e41; /* Darker green on hover */
            cursor: pointer; /* Show pointer cursor on hover */
            color: white; /* White text */
        }

        .o_acrux_chat_message_list_chat {
            display: flex;
            flex-direction: column;
            margin-top: 0.8em;
            .o_acrux_chat_list_button {
                border-top: 1.9px solid black;
                margin-top: 0.8em;
                text-align: center;
            }
        }
    }
}

.acrux_Message.o_chat_message_out {
    background-color: $acrux_message_out_background_color;
    float: right;
}

.acrux_Message.o_chat_message_in {
    float: left;
}

.acrux_Message.o_message_error {
    border: 2px solid red;

    .o_message_error_text {
        float: left;
        position: relative;
        width: 100%;
    }
}

.acrux_Message.o_chat_message_info {
    color: $o-gray-500;
    width: 100%;
    max-width: 100%;
    margin: 0;
    text-align: center;
    background: none;
    box-shadow: none;
    padding: 2px 9px;

    > span {
        font-size: 0.9em;
        border-radius: 7.5px;
        text-align: center;
        width: fit-content;
        display: inline-block;
    }
}

.o_message_summary {
    display: flex;
    font-size: 0.875em;
    color: $o-gray-600;

    .o_msg_summary_content {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        max-width: 300px;
    }
}
